<%- include('layouts/adminheader') %>
    

<%- include('layouts/nav') %>


<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h4 class="">Admin Page</h4>
                <p>Welcome back</p>
            </div>
            <div class="col-lg-5">

                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="/admin">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/product">Upload product</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/category">Add category</a>
                  </li>
                </ul>
                
            </div>
        </div>
    </div>
</section>
<!-- Featured Section End -->

<%- include('layouts/adminfooter') %>

</body>

</html>