	<%- include('layouts/header') %>

	<%- include('layouts/nav') %>


		<div class="row">
			<div class="col-md-12 mb-4 mt-4 text-center">
				<p class=" text-success"><b>Payment made succesful!</b></p>
				<a href="/order"><button class="btn btn-info">Continue to see orders</button></a>
			</div>
		</div>


	<%- include('layouts/footer') %>
   	</body>

</html>



